.column-1-of-2 {
  width: 50%; }

.u-margin-right-2 {
  margin-right: 2rem; }

.u-text-center {
  text-align: center; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
  line-height: 1.6; }

.header {
  line-height: 1.3; }
  .header--medium {
    font-size: 3rem; }
  .header--large {
    font-size: 5rem; }
  .header--bold {
    font-weight: bold; }
  .header--gradient {
    height: 6rem;
    background: linear-gradient(to bottom, #B2F3F3, #57CACA);
    display: flex;
    align-items: center;
    justify-content: center; }

.logo__text {
  display: inline-block;
  font-weight: bold; }

.logo__icon {
  vertical-align: middle; }

.nav {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center; }
  .nav__links {
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav__link {
    position: relative;
    padding: 0.5rem 3rem; }
    .nav__link:not(:last-child)::after {
      content: '';
      position: absolute;
      width: 0.2rem;
      height: 2rem;
      top: 50%;
      right: -0.1rem;
      transform: translateY(-50%);
      background-color: #FFF; }

.links {
  font-size: 1.6rem;
  font-weight: bold; }
  .links--white {
    color: #FFF; }

.link:hover {
  cursor: pointer;
  color: #B2F3F3; }

.weather {
  max-width: 60rem;
  border: 1px solid #ccc;
  margin: 50px auto;
  border-radius: 5px; }
  .weather__header {
    background-color: #B2F3F3;
    border-bottom: 1px solid #ccc;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between; }
  .weather__time-period {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8); }
  .weather__body {
    display: flex;
    padding: 15px; }
  .weather__temperature {
    line-height: 1.2;
    font-size: 7rem; }
  .weather__info {
    font-size: 1.6rem; }

.temperature-scale {
  font-size: 1.6rem;
  display: flex; }
  .temperature-scale [class^="temperature-scale__"] {
    width: 3rem;
    height: 3rem;
    border: 1px solid #000;
    border-radius: 50%;
    font-weight: bold;
    color: #FFF;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center; }
    .temperature-scale [class^="temperature-scale__"]:hover {
      cursor: pointer; }
  .temperature-scale :not(:last-child) {
    margin-right: 10px; }

.glyph {
  padding: 30px 0; }

.update {
  font-size: 1.4rem; }
  .update__text {
    display: inline-block; }
  .update__time {
    display: inline-block; }

.temp-high {
  display: flex;
  align-items: center; }
